{% block group_news_active %}active{% endblock %}
{% block news_active %}active{% endblock %}
{% block content_header %}PR&News{% endblock %}

{% block breadcrumb_sub %}
	<li><a href="{{path('admin_news')}}">PR&News</a></li>
{% endblock %}
