{% block group_inspiration_active %}active menu-open{% endblock %}
{% block inspiration_category_active %}active{% endblock %}
{% block content_header %}Inspiration Categories{% endblock %}
{% block content_header_desc %}Inspiration{% endblock %}

{% block breadcrumb_sub %}
	<li><a href="{{path('admin_inspiration_category')}}">Inspiration Categories</a></li>
{% endblock %}
