{% extends "ProjectBundle:"~ view_layout ~":layout_member.html.twig" %}

{% block title %}{% trans %}member.change.personal.info{% endtrans %} | {{ parent() }}{% endblock %}

{% block member_profile_edit_active %}text-dark{% endblock %}

{% block breadcrumbs_custom %}
    {{ parent() }}
	<li class="active">{% trans %}member.change.personal.info{% endtrans %}</li>
{% endblock %}

{% block member_header %}{% trans %}member.change.personal.info{% endtrans %}{% endblock %}

{% block content_member %}
    {% include "@FOSUser/Profile/edit_content.html.twig" %}
{% endblock %}
