{% block group_news_active %}active menu-open{% endblock %}
{% block news_category_active %}active{% endblock %}
{% block content_header %}News Categories{% endblock %}
{% block content_header_desc %}News{% endblock %}

{% block breadcrumb_sub %}
	<li><a href="{{path('admin_news_category')}}">News Categories</a></li>
{% endblock %}
