<div class="col-xs-12">
	<div class="">
        <div class="input-group">

    	       {# {{form_widget(form_search.distributorCategory, {'attr':{'class':'form-control', 'id' : 'distributorCategory'}})}}
            <span class="input-group-btn"></span>#}
    	        {{form_widget(form_search.zone,{'attr':{'class':'form-control', 'id' : 'zone','required': 'false'}} )}}

            <span class="input-group-btn">
                {{form_widget(form_search.search, {'id' : 'search', 'label': 'Search','class':'form-control'})}}
            </span>
        </div>
	</div>


</div>

<div class="col-md-12 text-center" style="margin-top:10px;"></div>
