<section class="section-sm">
    <h5>Follow Us</h5>
    <ul class="list-inline-sm">
        {{render(controller('ProjectBundle:Main:_follow_us',{'class_size':'icon-sm','class_color':''}))}}
        {#<li><a class="icon-sm fab fa-facebook-f icon" href="https://www.facebook.com/LaZBoyofThailand" target="_blank"></a></li>
        <li><a class="icon-sm fab fa-line icon" href="http://line.me/ti/p/@lazboy_th" target="_blank"></a></li>
        <li><a class="icon-sm fab fa-instagram icon" href="https://www.instagram.com/lazboy_th/" target="_blank"></a></li>
        <li><a class="icon-sm fab fa-youtube icon" href="https://www.youtube.com/channel/UCHuAyUwIZ_l_5Z6G1VmqXNQ/featured" target="_blank"></a></li>#}
    </ul>
</section>

<section class="section-sm">
    <h5>Facebook</h5>
    <!-- Facebook Feed-->
    <div id="fb-root"></div>
    <div class="fb-page-responsive">
        <div class="fb-page" data-href="https://www.facebook.com/LaZBoyofThailand" data-tabs="timeline" data-height="380" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
            <div class="fb-xfbml-parse-ignore">
                <blockquote cite="https://www.facebook.com/LaZBoyofThailand">
                    <a href="https://www.facebook.com/LaZBoyofThailand">LaZBoyofThailand</a>
                </blockquote>
            </div>
        </div>
    </div>
</section>
