{% extends "ProjectBundle:"~ view_layout ~":layout.html.twig" %}

{% block title %}{% trans %}menu.terms.conditions{% endtrans %} | {{ parent() }}{% endblock %}
{% block news_active %}active{% endblock %}

{% block breadcrumbs_title %}{% trans %}menu.terms.conditions{% endtrans %}{% endblock %}
{% block breadcrumbs_custom %}
	<li class="active">{% trans %}menu.terms.conditions{% endtrans %}</li>
{% endblock %}

{% block content %}
<section class="bg-default pt-4 pb-5">
    <div class="container">
		{{data.getContent|raw}}
	</div>
</section>
{% endblock %}
