{% block group_inspiration_active %}active{% endblock %}
{% block inspiration_active %}active{% endblock %}
{% block content_header %}Inspiration{% endblock %}

{% block breadcrumb_sub %}
	<li><a href="{{path('admin_inspiration')}}">Inspiration</a></li>
{% endblock %}
