{% block group_pages_active %}active{% endblock %}
{% block product_information_active %}active{% endblock %}
{% block content_header %}Product Information{% endblock %}

{% block breadcrumb_sub %}
	<li><a href="{{path('admin_product_information')}}">Product Information</a></li>
{% endblock %}
