{% block group_product_cat_active %}active menu-open{% endblock %}
{% block product_variant_active %}active{% endblock %}
{% block content_header %}Cover Variant{% endblock %}
{#{% block content_header_desc %}Product category{% endblock %}#}

{% block breadcrumb_sub %}
	<li><a href="{{path('admin_product_variant')}}">Cover Variant</a></li>
{% endblock %}
