{% block group_distributor_active %}active menu-open{% endblock %}
{% block distributor_category_active %}active{% endblock %}
{% block content_header %}Distributor Category{% endblock %}
{% block content_header_desc %}{% endblock %}

{% block breadcrumb_sub %}
	<li><a href="{{path('admin_distributor_category')}}">Distributor Category</a></li>
{% endblock %}
